@model ResumeBuilder.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .divider-text {
            position: relative;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }

            .divider-text span {
                padding: 7px;
                font-size: 12px;
                position: relative;
                z-index: 2;
            }

            .divider-text:after {
                content: "";
                position: absolute;
                width: 100%;
                border-bottom: 1px solid #ddd;
                top: 55%;
                left: 0;
                z-index: 1;
            }

        .btn-facebook {
            background-color: #405D9D;
            color: #fff;
        }

        .btn-twitter {
            background-color: #42AEEC;
            color: #fff;
        }
    </style>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<div class="container my-5">
    <p class="display-3 text-center">Register Donor</p>
    <hr>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your account</p>
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form enctype="multipart/form-data" asp-controller="Account" asp-action="Register"
                  method="post" class="mt-3">
                <div class="form-group row">
                    @*<label asp-for="dFName" class="col-sm-2 col-form-label"></label>*@
                    <div class="col-sm-10">
                        <input asp-for="Email" class="form-control" placeholder="Email" type="email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                </div>

                <div class="form-group row">
                    @*<label asp-for="dAge" class="col-sm-2 col-form-label"></label>*@
                    <div class="col-sm-10">
                        <input asp-for="UserName" class="form-control" placeholder="Username" type="text">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    @*<label asp-for="dAge" class="col-sm-2 col-form-label"></label>*@
                    <div class="col-sm-10">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="+91-0123456789" type="text">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    @*<label asp-for="dMail" class="col-sm-2 col-form-label"></label>*@
                    <div class="col-sm-10">
                        <input id="show_hide_password" asp-for="Password" class="form-control" placeholder="Password" type="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    @*<label asp-for="dAddress" class="col-sm-2 col-form-label"></label>*@
                    <div class="col-sm-10">
                        <input id="show_hide_password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>

                @*This script is required to display the selected file in the file upload element*@

                @section Scripts {
                    <script>
                        $(document).ready(function () {
                            $('.custom-file-input').on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(fileName);
                            });
                        });
                    </script>
                }
            </form>

        </article>
    </div>  <!--card.//-->

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });
</script>

